* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:
}

li, a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: light-blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}

.logo {
    cursor: pointer;
    height: 100px;
    width: 250px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a:hover {
    color: #72EEFD;
}

.index-content {
    margin: 0 auto;
	clear: both;
    display: flex;
    flex-direction: row;
    padding-left: 120px;
    padding-right: 120px;
}

.width-container {

}

.left {
    width: 90%;
    font-size: 20px;
}

.index-heading {
    color: #E27D60;
    font-size: 1.2em;
    margin-bottom: 8px;
}

.index-text {
    text-align: center;
}

.intro {
    font-size: 1.1em;
}

.question {
    border-radius: 5px;
    height: 300px;
    width: 500px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
}

.titleflex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.buttongroup {
    margin-right: 10px;
}

.votes

.post-question {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.posta {
    color: white;
}

.post-question {
    margin-left: 20px;
    padding: 7px;
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    display: inline-block;
    padding: 20px;
}

td {
    display: inline-block;
    padding: 20px;
}

tr {
    margin: 10px;
    display: block;
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
}

.question-table {
    display: flex;
    flex-direction: column
}

.question-title {
    font-weight: bold;
}
