<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Question and Answer">
     <title>OkieDoke Q&A</title>
     <!-- styles -->
     <link rel="stylesheet" href="../static/main.css">
</head>
<body>
     <header>
          <a href="index"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>
          <nav>
               <ul class="nav_links">
                    <li><a href="questions">Posts</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
               </ul>
          </nav>
     </header>

     <main class="index-content">
          <h1 class="index-text index-heading">Questions and Answers for Everything</h1>
          <p class="index-text intro">Welcome to our Q&A site. You can post any question here and recieve an answer from anyone.</p>
          <p class="index-text intro">Click Posts to view the current posts. If you want to post a question or answer,
               you must sign up for an account.</p>
     </main>
     <img class="question" src="../static/question.jpg" alt="question mark">
</body>
</html>
