<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Question and Answer">
     <title>OkieDoke Q&A</title>
     <!-- styles -->
     <link rel="stylesheet" href="../static/main.css">
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
     <header>
          <a href="{{ url_for('index') }}"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>

         {% if user %}
            <nav>
                <ul class="nav_links">
                    <li><a href="{{ url_for('get_questions') }}">Posts</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </nav>
         {% else %}
            <nav>
                <ul class="nav_links">
                    <li><a href="{{ url_for('login') }}">Sign in</a><li>
                    <li><a href="{{ url_for('register') }}">Register</a><li>
                </ul>
            </nav>
         {% endif %}
     </header>

     <main class="index-content">
         <div class="width-container">
              <div class="left">
                   <h1 class="index-text index-heading">Questions and Answers for Everything</h1>
                   <p class="index-text intro">Welcome to our Q&A site. You can post any question here and recieve an answer from anyone.</p>
                   <p class="index-text intro">Click Posts to view the current posts. If you want to post a question or answer,
                        you must sign up for an account.</p>

                   <button class="post-question"><a class="posta" href="{{ url_for('new_question') }}">Post a Question</a></button>
              </div>
          </div>
          <div class="image">
            <img class="question" src="../static/question.jpg" alt="question mark">
          </div>
     </main>
</body>
</html>
