<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Okie Doke</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
    <body>
    <header>
          <a href="{{ url_for('index') }}"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>
        {% if user %}
            <nav>
                <a href="{{ url_for('new_question') }}">Post a Question</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        {% else %}
            <nav>
                <a href="{{ url_for('register') }}">Register</a>
            </nav>
        {% endif %}

    </header>
        <div class="full-container">
            <h1 class="page-header">Welcome {% if user %}{{user}}{% endif %}to the OkieDoke Q&A app!</h1>

            <h2 class="page-header second">Use this site to ask questions and/or answer questions.</h2>
            <div class="form-wrapper">
                <h2 class="title">Login</h2>
                <form method="POST" action="/login">
                    <div class="form-container">{{ form.email.label }} {{ form.email }}
                        {% if form.email.errors %}
                        <ul class="errors">
                            {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-container">{{ form.password.label }} {{ form.password }}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {{ form.submit }}
                </form>
            </div>
        </div>
    </body>
</html>
