<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Question and Answer">
     <title>OkieDoke Q&A</title>
     <!-- styles -->
     <link rel="stylesheet" href="../static/main.css">
</head>
<body>
     <header>
          <a href="index"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>
          <nav>
               <ul class="nav_links">
                    <li><a href="questions">Posts</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
               </ul>
          </nav>
     </header>

     <form action="new", method="post">
          <div>
               <label for="title">Title</label>
               <input type="text" id="title" name="title">
          </div>
          <div>
               <label for="details">Details</label>
               <textarea rows="5" cols="33" name="details"></textarea>
          </div>
          <div>
               <input type="submit" value="Add Question">
          </div>
     </form>
</body>
</html>
