<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
<body>
    <header>
          <a href="{{ url_for('index') }}"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>
          <nav>
               <ul class="nav_links">
                    <li><a href="{{ url_for('get_questions') }}">Posts</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
               </ul>
          </nav>
    </header>

    <div class="form-wrapper">
        <h2 class="title">Registration</h2>
        <form action="/register" method="POST">
            <div class="form-container">{{ form.firstname.label }} {{ form.firstname }}
                {% if form.firstname.errors %}
                <ul class="error">
                    {% for error in form.firstname.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-container">{{ form.lastname.label }} {{ form.lastname }}
                {% if form.lastname.errors %}
                <ul class="error">
                    {% for error in form.lastname.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-container">{{ form.email.label }} {{ form.email }}
                {% if form.email.errors %}
                <ul class="error">
                    {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-container">{{ form.password.label }} {{ form.password }}
                {% if form.password.errors %}
                <ul class="error">
                    {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-container">{{ form.confirmPassword.label }} {{ form.confirmPassword }}
                {% if form.confirmPassword.errors %}
                <ul class="error">
                    {% for error in form.confirmPassword.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {{ form.submit }}
        </form>
    </div>
</body>
</html>
