<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
</head>
<body>
    <header>
          <a href="{{ url_for('index') }}"><img class="logo" src="../static/OkieDoke.png" alt="logo"></a>
          <nav>
               <ul class="nav_links">
                    <li><a href="{{ url_for('get_questions') }}">Posts</a></li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
               </ul>
          </nav>
    </header>

    <div class="form-wrapper">
        <h2 class="title">Registration</h2>
        <form action="/register" method="POST">

        </form>
    </div>
</body>
</html>
